{% extends 'base.html.twig' %}

{% block title 'Message Queued' %}

{% block body %}
<div class="alert alert-success" role="alert">
    Message Queued
</div>

<div class="card shadow">
    <div class="card-header h5">
        Current Time: {{ time }}
    </div>
    <div class="card-body">
        <p>Thank you {{ text.sender }}</p>
        <p>Your text to {{ text.recipient | phone }} has been queued for sending.</p>
        <div class="text-success"><p>{{ visit_message }}</p></div>
    </div>
    <div class="card-footer">
        <a href="{{ path('text_new') }}" class="btn btn-primary">Send Another</a>
    </div>
</div>
{% if app.debug %}
<br/>
<div class="card">
    <div class="card-header h5">
        Message Debug
    </div>
    <div class="card-body">
        <pre class="pre-scrollable">{{ b2f }}</pre>
    </div>
</div>
{% endif %}
{% endblock %}
